.movie-card {
  transition: .3s;
}

.movie-card:hover {
  transform: translateY(-8px);
}

.movie-card img {
  height: 400px;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
}